.note-div {
  color: #e8bcb9;
  height: 16rem;
  width: 16rem;
  padding: 10px;
  background-color: #4b4376;
  border-radius: 10px;
}

button {
  float: right;
  border: none;
  background-color: #e8bcb9;
  cursor: pointer;
  border-radius: 5px;
}
