main {
  display: flex;
  justify-content: flex-start;
  padding: 3rem;
  flex-wrap: wrap;
  gap: 2rem;
}

/* .note-div {
  color: #e8bcb9;
  height: 16rem;
  width: 16rem;
  padding: 10px;
  background-color: #4b4376;
  border-radius: 10px;
} */

.button-add {
  display: flex;
  align-items: center;
}

button {
  background-color: #4b4376;
  border-radius: 10px;
  border: none;
  color: white;
  height: 8rem;
  width: 8rem;
  cursor: pointer;
}
