<div class="backdrop" (click)="onCancel()"></div>
<dialog open>
  <form (ngSubmit)="onSubmit()">
    <input type="hidden" name="id" />

    <app-control label="Title: ">
      <input type="text" name="title" [(ngModel)]="enteredTitle" />
    </app-control>

    <app-control label="Note: ">
      <!-- <label for="content">Note:</label> -->
      <textarea
        type="text"
        name="content"
        [(ngModel)]="enteredContent"
      ></textarea>
    </app-control>

    <div class="add-buttons">
      <button type="submit">Submit</button>
      <button type="button" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</dialog>
